/* mobile styles */
.intro-layout {
  margin-bottom: 30px;
}

.main-text {
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: left;
}

.exhibition-section {
  text-align: center; 
  padding: 20px 10px;
}

.exhibition-title {
  font-size: 1.8rem;
  margin-bottom: 25px;
  font-weight: bold;
}

.exhibition-details p {
  margin: 8px 0;
  font-size: 1rem;
  line-height: 1.3;
}

.bold-entry {
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  margin: 15px 0 5px 0 !important;
}

/* desktop adj */
@media (min-width: 1280px) {
  .content {
    padding: 60px 150px; 
  }
  
  .main-text {
    font-size: 1.5rem;
    padding: 0 100px;
    text-align: center; 
  }

  .exhibition-title {
    font-size: 2.5rem;
  }

  .exhibition-details p {
    font-size: 1.4rem;
  }

  .bold-entry {
    font-size: 1.6rem;
  }
}


/* the serach overlays */
.search-overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.98); z-index: 2000;
    display: none; flex-direction: column; align-items: center; padding-top: 10vh;
}
.search-content { width: 90%; max-width: 700px; text-align: center; }
#search-input { width: 100%; background: transparent; border: none; border-bottom: 4px solid white; color: white; font-size: 3rem; outline: none; padding-bottom: 10px; }
.suggestions-list { margin: 20px 0 0 0; padding: 0; list-style: none; }
.suggestions-list li { color: white; font-size: 1.5rem; margin-bottom: 10px; cursor: pointer; transition: 0.2s; }
.suggestions-list li:hover { text-decoration: underline; }
.empty-state { color: #ccc; margin-top: 20px; display: none; }



/* the page transition*/
body {
    opacity: 1;
    transition: opacity 0.4s ease;
}

body.fade-out {
    opacity: 0;
}