/* static/css/contact.css */

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 equal colums*/
    gap: 40px; /* the space */
    align-items: start; /* align content */
    padding: 40px 0;
}

.contact-left .page-title {
    margin-top: 0; /* removing the top margin */
    font-size: 3rem; 
}

.directory p {
    margin-bottom: 12px;
    font-size: 0.9rem; 
    color: #333;
    line-height: 1.4;
}

.directory a {
    color: blue;
    text-decoration: underline;
}

/* box stretch */
.form-box {
    width: 100%;
}

/* style buttom */
.submit-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 100%; /* Full width in form-box */
    margin-top: 10px;
}



/* search overlay */
.search-overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.98); z-index: 2000;
    display: none; flex-direction: column; align-items: center; padding-top: 10vh;
}
.search-content { width: 90%; max-width: 700px; text-align: center; }
#search-input { width: 100%; background: transparent; border: none; border-bottom: 4px solid white; color: white; font-size: 3rem; outline: none; padding-bottom: 10px; }
.suggestions-list { margin: 20px 0 0 0; padding: 0; list-style: none; }
.suggestions-list li { color: white; font-size: 1.5rem; margin-bottom: 10px; cursor: pointer; transition: 0.2s; }
.suggestions-list li:hover { text-decoration: underline; }
.empty-state { color: #ccc; margin-top: 20px; display: none; }

.submit-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.7;
}
/*  SPINNER  */
.loader {
  display: none;
  width: 14px;
  height: 14px;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  margin-left: 8px;
  animation: spin 1s linear infinite;
}

.submit-btn.loading .loader {
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}